.gh-foot {
    padding: 0;
    background-color: #10121B;
}

.gh-foot-inner {
    width: calc(var(--columns) * (var(--column-space) + var(--column-width)));
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.gh-note {
    max-width: 60%;
}

.gh-foot-inner ul {
    margin: 0;
    list-style: none;
    padding: 0 var(--column-space) 0 0;
}

@media (max-width: 920px) {
    .gh-note {
        max-width: 600px;
    }


    .gh-foot-inner {
        text-align: left;
        flex-direction: column;
        justify-content: normal;
    }

    ul::before {
        content: "-";
        display: inline-block;
        margin-bottom: 20px;
    }
}
